body {
  margin: 0;
  background: linear-gradient(#70c5ce, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

canvas {
  background: #70c5ce;
  border-radius: 10px;
}

#message {
  margin-top: 20px;
  font-size: 22px;
  color: #e91e63;
  font-weight: bold;
}

.hidden {
  display: none;
}
